#nav{
    background-color: #344152;
}
.namesize{
    font-size: 35px;
}
.image{
    padding: 5px;
    margin-left:20px; ;
}
.div1{
    width: 100%;
    height: 100px;
    background-color: #344152;
    border: 1px;
    display: flex;

}
.Watchingfilm{
    color: white;
    margin:auto 100px;
    text-decoration: none;
}

.childdiv1{
    display: inline-flex;
    margin: auto;
    margin-right: 20px ;
    padding: 20px;
    flex-direction: row-reverse;
}

.word_style{
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: auto;
}

.word_style:hover{
    text-decoration: none;
    padding: 20px;
    margin: auto;
    color: rgba(50, 79, 227, 0.711);
}
.strg{
    font-size: 25px;
}
.about{
    text-align: left;
    margin-left: 20px;
}
